
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1 id="title">Authorization station</h1>
        <hr>
    </div>
    {{#if user}}
    <div class="col-md-2">
        <p>
            Welcome, {{user}}! <a href="/profile">My profile.</a>
        </p>
        <form class="" action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    {{/if}}
</div>
<div class="row">
    <div class="jumbotron col-md-8 col-md-offset-2">
        <h2>Login</h2>
        <hr>
        <form class="" action="/login" method="post">
            <div class="row">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="text" name="password" class="form-control" id="password" placeholder="password">
                </div>
                {{#if errorMessage}}
                <h4 class="bg-danger">{{errorMessage}}</h4>
                {{/if}}
                <button type="submit" class="btn btn-success btn-lg">Log in</button>
            </div>
        </form>
        <h5>Not a member? Sign up <a href="/">here.</a></h5>
    </div>
</div>
